<p-toast (onClose)="onClose()">
    <ng-template let-message #headless let-closeFn="closeFn">
        <section class="flex flex-col p-4 gap-4 w-full rounded-xl">          
            <div class="flex items-center gap-5">
                @if(!this.isOkToOpen){
                    @if(this.statusNotyfyDto.status === 'DA_ELABORARE'){
                        <i class="pi pi-cloud-upload dark:text-black text-2xl"></i>
                    }
                    @else if(this.statusNotyfyDto.status === 'IN_ELABORAZIONE'){
                        <i class="pi pi-spinner pi-spin dark:text-black text-2xl"></i>
                    }
                    <span class="font-bold text-base dark:text-black">{{ message.summary }}</span>                    
                }
                @else {
                    <i class="pi pi-thumbs-up mr-5" style="color:green"></i><a class="w-full inline-block px-4 py-2 bg-white text-gray-700 border border-gray-300 rounded hover:bg-gray-100 transition" 
                    href="javascript:void(0)" title="{{'Visualizza Archivio' | translate}}" (click)="gotoStorico(this.statusNotyfyDto.idLogGenFileManager)">                      
                    <span class="font-bold text-base dark:text-black">{{ message.summary }}</span> </a>                    
                }
            </div>
            <div class="flex flex-col gap-2">
                @if(showProgress){
                    <p-progressbar [style]="{'height': '4px', 'background':'navy'}" color="purple" mode="indeterminate" />
                }
            </div>
 
            <div class="flex gap-4 justify-center">
                <p-button (click)="closeFn($event)" severity="secondary" >{{'Chiudi' | translate}}</p-button>
            </div>
        </section>
    </ng-template>
</p-toast>

