<p-dialog 
  [(visible)]="visible" 
  header="{{ 'Chiedi ad AI' | translate }}"
  [modal]="true" (onShow)="onShow()" [maximizable]="true" 
  [style]="{width: '50vw'}"
>
  <div class="space-y-4" [formGroup]="newPromptRequestForm!">  
     <div>
      <label class="block text-sm font-medium mb-2">{{ 'Corpo' | translate }}*</label>
        <p-editor  formControlName="body" (onInit)="onInitEditor($event)"
                      [style]="{ height: '320px', border: '1px solid green' }" />      
        @if (!isEditorValid()) {
            <small class="text-red-500" >{{'Valorizzare il campo' | translate}}.</small>
        }
    </div>
    <div>
      <label class="block text-sm font-medium mb-2">{{ 'Prompt' | translate }}*</label>
      <textarea 
        pTextarea 
        formControlName="prompt"
        rows="3" 
        class="w-full"
        placeholder="{{ 'Chiedi qualcosa alla AI!' | translate }}"
      ></textarea>
       <small class="text-red-500" *ngIf="(newPromptRequestForm?.get('prompt')?.touched || newPromptRequestForm?.get('prompt')?.dirty) && newPromptRequestForm?.get('prompt')?.errors?.['required']">
                            {{'Valorizzare il campo' | translate}}.</small>
    </div>
    <div>
      <div class="w-full flex justify-center mb-2">
        <app-dots-loader *ngIf="isUpdating"></app-dots-loader>
        <p-button 
          label="{{ 'Conferma' | translate }}"
          [disabled]="!isFormValid()"
          (onClick)="createRequest()"
          [loading]="isUpdating"
        ></p-button>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">

    <p-button 
      label="{{ 'Annulla' | translate }}"
      severity="secondary" 
      (onClick)="closeDialog()"
      [disabled]="isUpdating"
    ></p-button>
    <p-button 
      label="{{ 'Conferma' | translate }}"
      [disabled]="!isFormValid()"
      (onClick)="createRequest()"
      [loading]="isUpdating"
    ></p-button>
  </ng-template>
</p-dialog>

